#planes {
  display: flex;
  flex-direction: row;
  margin: 3rem 1rem 6rem 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  color: white;
  text-align: center;
  height: 22rem;
  width: 17%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(94, 94, 94);
  border-radius: 10px;
  box-shadow: 0px 0px 18px 6px rgba(255, 255, 255, 0.747);
  transition: all 1s ease-in-out;
  margin: 2rem;
  padding: 2rem;
}

.card img {
  width: 1px;
  height: 1px;
}

.c1:hover {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  box-shadow: 0px 0px 18px 6px rgba(37, 113, 255, 0.747);
}
.c1:hover img {
  animation: resize;
  animation-duration: 1s;
  width: 200px;
  height: 200px;
}

.c2:hover {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  box-shadow: 0px 0px 18px 6px rgba(84, 212, 255, 0.747);
}
.c2:hover img {
  animation: resize;
  animation-duration: 1s;
  width: 200px;
  height: 200px;
}

.c3:hover {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  box-shadow: 0px 0px 18px 6px rgba(221, 255, 30, 0.747);
}
.c3:hover img {
  animation: resize;
  animation-duration: 1s;
  width: 200px;
  height: 200px;
}

.c4:hover {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  color: white;
  box-shadow: 0px 0px 18px 6px rgba(255, 23, 23, 0.747);
}
.c4:hover img {
  animation: resize;
  animation-duration: 1s;
  width: 200px;
  height: 200px;
}

@keyframes resize {
  0% {
    width: 1px;
    height: 1px;
  }
  100% {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 500px) {
  .card{
    margin: 2rem;
    width: 100%;
    height: auto;
    padding: 0 0 2rem;
  }

  .c1 {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    box-shadow: 0px 0px 18px 6px rgba(37, 113, 255, 0.747);
  }
  
  .c2 {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    box-shadow: 0px 0px 18px 6px rgba(84, 212, 255, 0.747);
  }
  
  .c3 {
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    box-shadow: 0px 0px 18px 6px rgba(221, 255, 30, 0.747);
  }
  
  .c4 {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: white;
    box-shadow: 0px 0px 18px 6px rgba(255, 23, 23, 0.747);
  }

}