#contact-container {
  padding: 0 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.contact-info {
  width: 70%;
  margin: 50px auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 18px 6px rgba(255, 255, 255, 0.747);
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem;
  
}

.info-item .rubik-h2 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  margin: 1rem;
  color: white;
  font-size: xx-large;
}

.contact-info a {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  margin: 2rem;
  color: white;
  font-size: large;
}

.contact-info iframe {
  margin: 2rem;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 410px;
}
.social-links img{
  width: 100px;
}
.social-links p{
  margin: 0 auto 0 auto;
}
