#contact-container {
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.contact-info {
  width: 70%;
  margin: 50px auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 18px 6px rgba(255, 255, 255, 0.747);
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.info-item .rubik-h2 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  margin: 2rem;
  color: white;
  font-size: xx-large;
}

.contact-info .rubik-h2 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  margin: 2rem;
  color: white;
  font-size: xx-large;
}

.contact-info iframe{
  margin: 2rem;
}

