main {
  display: flex;
  flex-direction: column;
  position: static;
  background-image: linear-gradient(
    to right,
    #2c2c2c 0%,
    black 100%,
    #505050 0%
  );
  align-items: center;
}

main .rubik-h2 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 2rem;
  color: white;
  font-size: xxx-large;
}

.plan {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 300px;
  height: 400px;
  background-color: rgb(117, 117, 117);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0px 0px 18px 6px rgba(255, 255, 255, 0.747);
  flex-direction: column;
  transition: all 1s ease-in-out;
}

.plan1:hover {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  box-shadow: 0px 0px 18px 6px rgba(37, 113, 255, 0.747);
}
.plan2:hover {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  box-shadow: 0px 0px 18px 6px rgba(84, 212, 255, 0.747);
}
.plan3:hover {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  box-shadow: 0px 0px 18px 6px rgba(221, 255, 30, 0.747);
}
.plan4:hover {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  color: white;
  box-shadow: 0px 0px 18px 6px rgba(255, 23, 23, 0.747);
}

main #planes .link {
  text-decoration: none;
}

main #planes .link .plan .planH3 {
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 1rem;
  color: white;
  font-size: larger;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transform: translateY(0);
}
.description p {
  display: block;
}
.description img {
  display: block;
  height: 200px;
  width: 200px;
}
