.nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  background-color: #4b4b4b;
  height: auto;
  position: relative;
}

a .nav-btn {
  text-decoration: none;
}
.nav-btn {
  color: white;
  margin: 2rem;
  background: rgb(80, 193, 212);
  border: none;
  position: relative;
  height: 40px;
  font-size: 1em;
  width: 14rem;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}

.nav-btn:hover {
  background: #fff;
  color: black;
}
.nav-btn:before,
.nav-btn:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #1aab8a;
  transition: 400ms ease all;
}
.nav-btn:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.nav-btn:hover:before,
.nav-btn:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

@media screen and (max-width: 600px) {
  .nav-bar {
    padding: 0;
    width: 60px;
    height:-webkit-fill-available;
    position: fixed;
    z-index: 10;
    background: rgb(64, 236, 236);
    background: linear-gradient(
      90deg,
      rgb(10, 115, 175) 0%,
      rgba(174, 238, 237, 0) 100%
    );
    transition: all 1s ease-in-out;
  }
  .nav-bar .nav-btn {
    display: none;
    opacity: 0;
  }
  .nav-bar:hover {
    flex-direction: column;
    position: fixed;
    width: 350px;
    height: -webkit-fill-available;
    z-index: 10;
    transition: all 1s ease-in-out;
  }
  .nav-bar a{
    text-decoration: none;
  }
  
  .nav-bar:hover .nav-btn {
    display: block;
    margin: auto 0 auto;
    width: 300px;
    height: 50px;
    animation: fadeIn 2s ease-in;
    opacity: 1;
  }

  .nav-bar:hover a{
    text-decoration: none;
  }

  .rubik-p5 {
    font-size:medium;
  }

  @keyframes fadeIn {
    0%{
      opacity: 0;
    }
    90%{
      opacity: 0;
    }
    100% {
      opacity: 1; /* Aparecerá gradualmente */
    }
}
}
