#mainNotify {
    padding: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: static;
    color: white;
    background-image: linear-gradient(
      to center,
      #2c2c2c 0%,
      black 100%,
      #505050 0%
    );
  }