#planDetail {
  display: flex;
  flex-direction: row;
  padding: 4rem 0 4rem 0;
  position: static;
  background-image: linear-gradient(
    to right,
    #2c2c2c 0%,
    black 100%,
    #505050 0%
  );
  align-items: center;
}

.descriptionContainer {
  width: 70%;
  height: 25rem;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 0px 0px 18px 6px rgba(255, 255, 255, 0.747);
}
.cont1{
  background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,0) 8%, rgba(32,250,255,0.4906337535014006) 100%);
}
.cont2{
  background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,0) 8%, rgba(32,96,255,0.4906337535014006) 100%);
}
.cont3{
  background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,0) 8%, rgba(224,255,32,0.4906337535014006) 100%);
}
.cont4{
  background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,0) 8%, rgba(255,32,32,0.4906337535014006) 100%);
}
.txDescription {
  margin: 0;
  padding: 2rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  width: 45%;
  text-align: justify;
}

.slider {
  margin: 0 auto 0 auto;
  width: 45px;
  height: 10rem;
  position: relative;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 50px;
  height: 100px;
}
.slider.izq {
  left: 10px;
}
.slider.der {
  right: 10px;
}
span {
  display: block;
  font-size: xx-large;
}
.slider:hover {
  animation: onButton 2s infinite alternate;
}

@keyframes onButton {
  0% {
    background-color: #50c0d452;
    color: white;
  }
  100% {
    background-color: #50c0d4;
    color: black;
  }
}

@media screen and (max-width: 500px) {
  .descriptionContainer{
    flex-direction: column;
  }
  .txDescription{
    width: auto;
  }
  .rubik-h1{
    margin: 0;
    font-size: xx-large;
    text-align: center;
  }
  .descriptionContainer img{
    display: none;
  }
  .slider{
    height: 250px;
    animation: onButtonCF 2s infinite alternate;
  }

  @keyframes onButtonCF {
    0% {
      background-color: #000000;
      color: white;
    }
    100% {
      background-color: #50c0d4;
      color: black;
    }
}

}