#mainPrices {
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: static;
  text-align: center;
  background-image: linear-gradient(
    to center,
    #2c2c2c 0%,
    black 100%,
    #505050 0%
  );
}

.pricesDiv {
  width: 70%;
  margin: 50px auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 18px 6px rgba(255, 255, 255, 0.747);
}

.slider-container {
  border-radius: 10px;
  padding: 0.7rem;
  margin: 1rem;
}

.pricesDiv div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
