/*todo*/

html,
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  height: 280px;
  margin-bottom: 3rem;
}
header .top-bar {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../src/assets/fondoheader.jpeg");
  background-position: 50% 50%;
  background-size: cover;
  align-items: center;
}
header .top-bar .logo {
  align-items: center;
  display: block;
  padding: 3rem;
}
header .top-bar .social-icons {
  padding: 2rem;
  display: flex;
  height: 50px;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

/*iconos del header*/
header .top-bar .social-icons a {
  transition: 1s;
  padding: 0.2rem;
}
header .top-bar .social-icons a img {
  width: 45px;
  border-radius: 100%;
}
header .top-bar .social-icons a:nth-child(1):hover img {
  transition: 1s;
  -webkit-box-shadow: 0px 0px 18px 6px rgba(0, 250, 0, 0.82);
  -moz-box-shadow: 0px 0px 18px 6px rgba(0, 250, 0, 0.82);
  box-shadow: 0px 0px 18px 6px rgba(0, 250, 0, 0.82);
}
header .top-bar .social-icons a:nth-child(2):hover img {
  transition: 1s;
  -webkit-box-shadow: 0px 0px 18px 6px rgba(229, 0, 250, 0.82);
  -moz-box-shadow: 0px 0px 18px 6px rgba(229, 0, 250, 0.82);
  box-shadow: 0px 0px 18px 6px rgba(229, 0, 250, 0.82);
}



/*plandetail*/

.descriptionContainer {
  width: 70%;
  height: 60%;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 0px 0px 18px 6px rgba(255, 255, 255, 0.747);
}

.txDescription {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  width: 45%;
}

.slider {
  height: 50%;
  margin: auto;
  background-color: #818181;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 3px rgba(255, 255, 255, 0.747);
  border-style: none;
  transition: all 1s;
}

.slider:hover {
  background-color: #50c1d4;
  box-shadow: 0px 0px 18px 6px rgba(255, 255, 255, 0.747);
  border-style: none;
}

/*footer*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #555555;
  padding: 2rem 0 2rem 0;
  color: white;
}

footer .divFooter li {
  list-style: none;
}

/*fonts*/

.rubik-p6 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: medium;
}
.rubik-p5 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: medium;
  margin: 0.5rem;
}

.rubik-h3 {
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 1rem;
  font-size: larger;
}

.inter-h1 {
  text-align: center;
  color: white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.rubik-h1 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 2rem;
  color: white;
  font-size: xxx-large;
}

.rubik-h2 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  margin: 2rem;
  color: white;
  font-size: xx-large;
  text-align: center;
}

/*celus*/

@media screen and (max-width: 500px) {
  header {
    margin-bottom: 0;
  }
  header .top-bar {
    flex-direction: column;
    padding-top: 2rem;
    height: max-content;
    background-position: 50% 40%;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
  }
  header .top-bar .logo {
    padding: 1rem 0;
    scale: 1.5;
  }
  header .top-bar .social-icons a img {
    height: 50px;
    width: 50px;
  }
  footer{
    flex-direction: column;
    text-align: center;
  }
}