html,
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  height: 280px;
  margin-bottom: 3rem;
}
header .top-bar {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../src/assets/fondoheader.jpeg");
  background-position: 50% 50%;
  background-size: cover;
  align-items: center;
}
header .top-bar .logo {
  align-items: center;
  display: block;
  padding: 3rem;
}
header .top-bar .social-icons {
  padding: 2rem;
  display: flex;
  height: 50px;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}
header .top-bar .social-icons a {
  transition: 1s;
  padding: 0.2rem;
}
header .top-bar .social-icons a img {
  width: 45px;
  border-radius: 100%;
}
header .top-bar .social-icons a:nth-child(1):hover img {
  transition: 1s;
  -webkit-box-shadow: 0px 0px 18px 6px rgba(0, 250, 0, 0.82);
  -moz-box-shadow: 0px 0px 18px 6px rgba(0, 250, 0, 0.82);
  box-shadow: 0px 0px 18px 6px rgba(0, 250, 0, 0.82);
}
header .top-bar .social-icons a:nth-child(2):hover img {
  transition: 1s;
  -webkit-box-shadow: 0px 0px 18px 6px rgba(229, 0, 250, 0.82);
  -moz-box-shadow: 0px 0px 18px 6px rgba(229, 0, 250, 0.82);
  box-shadow: 0px 0px 18px 6px rgba(229, 0, 250, 0.82);
}
header .nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  background-color: #4b4b4b;
}
header .nav-bar .nav-btn {
  background: rgb(80, 193, 212);
  color: #fff;
  border: none;
  position: relative;
  height: 40px;
  font-size: 1em;
  width: 14rem;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}

header .nav-bar .nav-btn a {
  text-decoration: none;
}

header .nav-bar .nav-btn .rubik-p {
  color: rgb(255, 255, 255);
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin: 0.5rem;
  font-size: medium;
}
header .nav-bar .nav-btn .link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
header .nav-bar .nav-btn:hover {
  background: #fff;
}
header .nav-bar .nav-btn:hover .link .rubik-p {
  color: rgb(0, 0, 0);
}
header .nav-bar .nav-btn:before,
header .nav-bar .nav-btn:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #1aab8a;
  transition: 400ms ease all;
}
header .nav-bar .nav-btn:before .link,
header .nav-bar .nav-btn:after .link {
  color: rgb(255, 255, 255);
}
header .nav-bar .nav-btn:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
header .nav-bar .nav-btn:hover:before,
header .nav-bar .nav-btn:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

/*plandetail*/

.descriptionContainer {
  width: 70%;
  height: 60%;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 0px 0px 18px 6px rgba(255, 255, 255, 0.747);
}

.txDescription {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  width: 45%;
}

.slider {
  height: 50%;
  margin: auto;
  background-color: #818181;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 3px rgba(255, 255, 255, 0.747);
  border-style: none;
  transition: all 1s;
}

.slider:hover {
  background-color: #50c1d4;
  box-shadow: 0px 0px 18px 6px rgba(255, 255, 255, 0.747);
  border-style: none;
}

/*footer*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #555555;
  padding: 2rem 0 2rem 0;
}
footer .divFooter .rubik-h3 {
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 1rem;
  color: white;
  font-size: larger;
}
footer .divFooter li {
  list-style: none;
}
footer .divFooter li .rubik-p {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 0.5rem;
  font-size: medium;
  color: white;
}

/*services*/



/*prices*/

#mainPrices .inter-h1 {
  text-align: center;
  color: white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.contact-info {
  margin: 50px 0 50px 0;
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 0px 0px 18px 6px rgba(255, 255, 255, 0.747);
}

.info-item {
  flex: 1 1 30%;
  margin: 10px;
  text-align: center;
}

.info-item h2 {
  color: #555;
  margin-bottom: 10px;
}

.info-item p,
.info-item a {
  color: #007bff;
  text-decoration: none;
}

.info-item a:hover {
  text-decoration: underline;
}

.social-links a {
  display: block;
  margin: 5px 0;
  color: #555;
}

.social-links a:hover {
  color: #007bff;
}

/*prices*/

.map {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.pricesDiv {
  position: relative;
  margin: 50px auto 50px auto;
  padding: 4rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 0px 0px 18px 6px rgba(255, 255, 255, 0.747);
}

.map-container {
  width: 100%;
  text-align: center;
}

.map-container .coordinateP {
  color: white;
}

.map-container iframe {
  padding: 3rem 0 3rem 0;
}

.map-container h2 {
  margin-bottom: 10px;
  color: #555;
}

iframe {
  border-radius: 10px;
}

/*fuentes*/
